body {
  margin: 0;
  background-image: url(images/dune.png);
  background-color: #dfa64a;
  /* overflow: hidden; */
  position: relative;
  color: aliceblue;
}

.header {
  background-color: #000;
}

.barlow-semi-condensed-thin {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-semi-condensed-extralight {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-semi-condensed-light {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-semi-condensed-regular {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semi-condensed-bold {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-semi-condensed-extrabold {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-semi-condensed-black {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-semi-condensed-thin-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-semi-condensed-extralight-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-semi-condensed-light-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-semi-condensed-regular-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-semi-condensed-medium-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semi-condensed-semibold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-semi-condensed-extrabold-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-semi-condensed-black-italic {
  font-family: "Barlow Semi Condensed", serif;
  font-weight: 900;
  font-style: italic;
}

.pacman,
.snake {
  position: absolute;
  width: 20px; /* Samme som gridSize */
  height: 20px; /* Samme som gridSize */
}

.pacman {
  background-color: #907406; /* Gul for Pac-Man */
  border-radius: 50%;
  transform-origin: center; /* Roter rundt midten */
}

.pacman_eye {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  top: 3px;
  right: 8px;
  background: #79b8f3;
}

.pacman_mouth {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  /* Animate mouth */
  animation-name: eat;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

/* Mouth animation keyframes */
@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}

.snake {
  background-color: #6a3f2e; /* Grønn for slangen */
}

.super-pacman {
  background-color: #ff0000; /* Rød farge for "super" Pac-Man */
  border: 2px solid gold; /* Gullkant for å markere spesialstatus */
}

.hidden {
  display: none !important; /* Using !important to ensure it overrides other display properties */
}

#home-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgba(
    241,
    187,
    86,
    0.9
  ); /* Valgfri gjennomsiktig bakgrunn */
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Dekker hele skjermen i bredde */
  height: 100vh; /* Dekker hele skjermen i høyde */
  object-fit: cover; /* Sørger for at bildet fyller skjermen uten å forvrenge proporsjoner */
  z-index: 1; /* Ligger bak knappene */
}

#button-container {
  position: absolute;
  right: 5%; /* Juster containeren til høyre */
  top: 50%; /* Sentraliser vertikalt */
  transform: translateY(-50%); /* Eksakt sentrering */
  display: flex;
  flex-direction: column; /* Plasser knappene i en kolonne */
  flex-wrap: nowrap; /* Hindrer knappene i å bryte linjen */
  gap: 10px; /* Avstand mellom knappene */
  z-index: 2; /* Sørger for at containeren og knappene ligger foran logoen */
}

#menu-content {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.menu-button {
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
  background-color: #8b4513;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #a0522d;
}

#game-over-message {
  position: absolute; /* Gjør plasseringen uavhengig av andre elementer */
  top: 20%; /* Juster vertikal plassering */
  left: 10%; /* Sentraliser horisontalt */
  width: 200px;
  transform: translate(-100%, -200%); /* Sentraliser elementet horisontalt */
  color: rgb(96, 38, 0);
  font-family: "Barlow Semi Condensed";
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba(248, 174, 71, 0.4); /* Justerbar gjennomsiktighet */
  /* padding: 20px; */
  border-radius: 15px;
  margin-bottom: 10px;
}

#game-over-message h2 {
  margin-bottom: 10px;
}
